@import "tailwindcss";

*,
strong,
div {
  font-family: sans-serif;
  box-sizing: border-box;
}

button,
nav {
  cursor: pointer;
}

button:disabled,
button:disabled,
input:disabled {
  cursor: not-allowed
}

button:hover,
nav:hover {
  filter: brightness(75%);
}

input {
  background-color: white;
  padding: 4px;
  border-radius: .25rem;
  line-height: 1.4rem;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
}