---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="Dashboard" transition:persist>
  <main class="bg-orange-400 flex-1">
    <h2>nada ainda?</h2>
    <h3>teste</h3>
  </main>
</DefaultLayout>
