---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="Dashboard" transition:persist>
  <main class="bg-slate-400 rounded-md p-2 flex-1">
    <h3>Ainda em desenvolvimento</h3>
  </main>
</DefaultLayout>
