---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="Dashboard">
  <main class="bg-orange-400 flex-1">
    <h2>nada ainda?</h2>
    <h3>teste</h3>
  </main>
</DefaultLayout>
