<body>
  <main class="w-full h-full p-4 flex items-center justify-center bg-slate-50">
    <form
      id="loginForm"
      class="w-md bg-slate-300 flex flex-col items-center min-h-28 p-4 rounded-lg"
    >
      <div class="min-h-6 p-4 gap-1 flex flex-col">
        <label for="login" class="font-semibold">Login</label>
        <input id="login" class="bg-white p-2 rounded-md" type="text" />
      </div>
      <div class="min-h-6 p-4 gap-1 flex flex-col">
        <label for="password" class="font-semibold">Senha</label>
        <input id="password" class="bg-white p-2 rounded-md" type="password" />
      </div>
      <button
        id="loginButton"
        type="submit"
        class="bg-blue-800 p-3 font-semibold text-white rounded-md"
        >Login</button
      >
    </form>
  </main>
</body>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const loginButton = document.getElementById(
      "loginButton",
    ) as HTMLButtonElement;
    const loginForm = document.getElementById("loginForm") as HTMLFormElement;
    const loginInput = document.getElementById("login") as HTMLInputElement;
    const passInput = document.getElementById("password") as HTMLInputElement;

    if (loginForm) {
      loginForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const login = loginInput.value;
        const password = passInput.value;
        if (!login || !password) {
          alert("Preencha login e senha corrretamente");
          return;
        }
        loginForm.setAttribute("disabled", "true");
        loginButton.setAttribute("disabled", "true");

        loginFetch(login, password);

        loginForm.removeAttribute("disabled");
        loginButton.removeAttribute("disabled");
      });
    }
  });

  async function loginFetch(login: string, password: string) {
    const DOMAIN = import.meta.env.PUBLIC_SERVER_DOMAIN;
    const loginUrl =
      window.location.hostname == "localhost"
        ? "http://localhost:3000/auth/login"
        : `https://${DOMAIN ?? "sistema.eseletrica.com.br"}/api/auth/login`;
    fetch(loginUrl, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ login, password }),
    })
      .then((response) => {
        if (response.status == 400) {
          throw new Error();
        }
        return response.json();
      })
      .then((data: { token: string; name: string; role: string }) => {
        localStorage.setItem("apiToken", data.token);
        localStorage.setItem("apiName", data.name);
        localStorage.setItem("apiRole", data.role);
        localStorage.setItem("apiTokenDate", new Date().toLocaleDateString());
        window.location.href = "/";
      })
      .catch((error: Error) => {
        alert("Login failed!");
        console.error(error);
      });
  }
</script>
