---
import { SideBarMenu } from "@comp/SideBarMenu";

const routes = [
  { name: "Dashboard", path: "/" },
  { name: "Materiais", path: "/materiais/", permissionNeeded: 2 },
  { name: "Fornecedores", path: "/fornecedores/", permissionNeeded: 1 },
  { name: "Compras", path: "/compras/", permissionNeeded: 3 },
  { name: "Usuários", path: "/usuarios/", permissionNeeded: 0 },
  { name: "Clientes", path: "/clientes/", permissionNeeded: 4 },
  { name: "Orçamentos", path: "/orcamentos/", permissionNeeded: 5 },
  { name: "Ordens", path: "/ordens/", permissionNeeded: 6 },
  { name: "Pedidos", path: "/pedidos/", permissionNeeded: 7 },
  { name: "Serviços", path: "/servicos/", permissionNeeded: 8 },
];
---

<aside
  id="sideBar"
  class="bg-slate-800 p-4 gap-3 flex md:flex-col navBar md:fixed md:h-full not-md:w-full not-md:overflow-scroll"
>
  <div
    id="idCard"
    class="p-1 md:p-2 text-white font-semibold rounded-md not-md:bg-slate-600 not-md:flex not-md:items-center"
  >
    <p class="not-md:hidden">Olá</p>
    <span transition:persist="userName" id="userName" class="not-md:p-1"
      >...</span
    >
  </div>
  <SideBarMenu routes={routes} client:load />
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const role = localStorage.getItem("apiRole");
      const permissions = localStorage.getItem("apiPermissions");
      const name = localStorage.getItem("apiName");
      if (role == undefined || permissions == undefined) {
        document.location.href = "login/";
      }
      const userNameSpan = document.getElementById(
        "userName",
      ) as HTMLSpanElement;
      userNameSpan.innerText = name || "";
    });
  </script>
</aside>
