---
import { NavButton } from "src/elements/NavButton";

const routes = [
  { name: "Dashboard", path: "/" },
  { name: "Materiais", path: "/materiais/" },
  { name: "Fornecedores", path: "/fornecedores/" },
  { name: "Compras", path: "/compras/" },
  { name: "Clientes", path: "/clientes/" },
  { name: "Ordens", path: "/ordens/" },
  { name: "Orçamentos", path: "/orcamentos/" },
];
---

<aside class="bg-slate-800 p-4 gap-3 flex flex-col navBar">
  <div id="idCard" class="p-2 text-white rounded-md font-semibold">
    <p>Olá</p>
    <span transition:persist="userName" id="userName">...</span>
  </div>
  {
    routes.map((route) => {
      return <NavButton name={route.name} path={route.path} client:load />;
    })
  }
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const role = localStorage.getItem("apiRole");
      const name = localStorage.getItem("apiName");
      // if (role == undefined) {
      //   document.location.href = "login/";
      // }
      const userNameSpan = document.getElementById(
        "userName"
      ) as HTMLSpanElement;
      userNameSpan.innerText = name || "";
    });
  </script>
</aside>
