---
import "@styles/global.css";
import SideBar from "@comp/SideBar.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalse=no"
    />
    <meta
      name="description"
      content="Site para controle de estoque e logistica de materiais elétricos."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <script>
      if (localStorage.getItem("apiToken") == undefined) {
        window.location.href = "/login";
      }
    </script>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/sw.js");
          // .then((registration) => {
          //   console.log("SW registrado com sucesso:", registration);
          // })
          // .catch((error) => {
          //   console.log("Falha no registro do SW:", error);
          // });
        });
      }
    </script>
    <!-- <script>
      document.addEventListener("astro:before-preparation", (ev) => {
        if (window.location.pathname.includes("orcamentos/novo")) {
          ev.preventDefault();
          confirm(
            "Ao sair você pode perder as alterações que fez. Certifique-se de salvar seu trabalho antes de trocar de página."
          );
        }
      });
    </script> -->
    <ClientRouter />
  </head>
  <body class="bg-blue-50 w-full max-w-full">
    <SideBar transition:persist />
    <div
      class="p-4 flex-1 bg-blue-50 max-w-360 md:pl-42 not-md:pt-2 mx-auto w-full"
    >
      <slot />
    </div>
  </body>
</html>
